*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header{
    width: 100%;
    height: 15vh;
    background-color: black;
}

#header{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;

}

#logo-header {
    width: 30%;
}
#logo-img{
    width: 30%;
}
nav{
    width: 50%;
    display: flex;
    justify-content: space-between;

}
#nav-header {
    width: 50%;
}
.nav-link-header{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Play', sans-serif;
    transition: 0.3s color ease-out;
}

.nav-link-header:hover{
    color: orange;
} 


/* main */

main{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    height: 50vh;
    width: 47%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.2s ease-out;
}

.item:hover{
    transform: rotate(13deg) scale(1.15);
} 



/* footer */

footer{
    width: 100%;
    height: 15vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

#vk-img{
    width: 45%;
}

#inst-img{
    width: 45%
}

#footer{
    width: 10%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}

#img-1{
    text-align: center;
}

#img-2{
    text-align: center;
}

#social{
    display: flex;
    justify-content: center;
}

#nav-footer{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    width: 30%;
    color: white;
    font-family: 'Play', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link-footer{
    text-decoration: none;
    color: white;
    font-family: 'Play', sans-serif;
    font-size: 15px;
}

.nav-link-footer:hover{
    color: orange;
    transition: 0.4s ease-out;
} 

/*media - header*/

@media (max-width: 1155px){
    .nav-link-header{
        font-size: 25px;
    }
    
}

@media (max-width: 1025px){
    .nav-link-header{
        font-size: 20px;
    }
    #header {
        width: 85%;

    }
}

@media (max-width: 900px){
    .nav-link-header{
        font-size: 15px;
    }
    header{
        height: 12.5vh;
    }
}

@media (max-width: 750px){
    header{
        height: 11.5vh;
    }    
    #logo-header {
        width: 35%;
    }
}

@media (max-width: 660px){
    header{
        height: 10vh;
    }
    #header {
        width: 94%;
    }
    #logo-header{
        width: 30%;
    }
}

@media (max-width: 480px){
    header{
        height: 10vh;
    }
    #header {
        width: 98%;
    }
    #logo-header{
        width: 25%;
    }
}

@media (max-width: 500px){
    .item{
        width: 95%;
    }
    main{
        justify-content: space-around;
    }
}

/* media-footer */

@media (max-width: 1516px){
    p{
        font-size: 20px;
    }
}

@media (max-width: 1390px){
    p{
        font-size: 15px;
    }
}

@media (max-width: 910px){
    p{
        font-size: 15px;
        width: 40%;
    }
}

@media (max-width: 684px){
    p{
        font-size: 10px;

    }
}

@media (max-width: 505px){
    p{
        font-size: 10px;
        width: 50%;
    }
}
